<html>
 <body>
  <div class="notice"><%= notice %></div>
  <P>Title:<%= @book.title %></P>
  <P>Body:<%= @book.body %></p>
  <p><%= link_to "Edit","/books/#{@book.id}/edit" %>|<%= link_to "Back","/books" %></p>
 </body>
</html>